<!-- this div will repeat for every tweet object in the array -->
<div ng-repeat="tweet in tweetsResult" class="tweet-item">
	<div class="panel panel-default">
		<div class="panel-heading">

			<!-- constrcut a user follow web intent: https://dev.twitter.com/docs/intents#follow-intent -->
	  	<div class="tweet-header">
				
				<!-- the user profile image -->
				<div class="user-profile-image">
					<a href="https://twitter.com/intent/user?screen_name={{tweet.user.name}}" target="_blank"><img src="{{tweet.user.profile_image_url}}" /></a>
				</div>

				<div class="user-details">
	  			
	  			<!-- constrcut a user follow web intent: https://dev.twitter.com/docs/intents#follow-intent -->
	  			<a class="username-intent-link" href="https://twitter.com/intent/user?screen_name={{tweet.user.name}}" target="_blank">
	  				<span class="tweeter-name">{{tweet.user.name}}</span>
	  				<span class="tweeter-screenname">@{{tweet.user.screen_name}}</span>
	  			</a><br/>

	  			<!-- constrcut a permalink to the single tweet  -->
	  			<a class="username-intent-link" href="https://twitter.com/niw/status/{{tweet.id_str}}" target="_blank">
	  				<span class="date">{{tweet.created_at | date:'medium'}}</span>
	  			</a>
				
				</div>
			</div>
		</div>
			
		<div class="panel-body">

			<!-- the tweet text -->
			<p class="twt-text" ng-bind-html="tweet.text"></p>

			<!-- photos found in media entities -->
			<div ng-if="tweet.photos" class="media">
				<img class="tweet-image" ng-repeat="photo in tweet.photos" src="{{photo.url}}" style="width:{{photo.width}}px; height:{{photo.height}}px;" />
			</div>

	  </div>

	  <div class="panel-footer">

			<!-- constrcut a tweet reply web intent: https://dev.twitter.com/docs/intents#tweet-intent -->
			<a class="twt-intent-link" href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id_str}}"><span class="glyphicon glyphicon-share-alt"></span> reply</a>
			
			<!-- constrcut a retweet web intent: https://dev.twitter.com/docs/intents#tweet-intent -->
			<a class="twt-intent-link" href="https://twitter.com/intent/retweet?tweet_id={{tweet.id_str}}"><span class="glyphicon glyphicon-retweet"></span> retweet</a>
			
			<!-- constrcut a favorite web intent: https://dev.twitter.com/docs/intents#tweet-intent -->
			<a class="twt-intent-link" href="https://twitter.com/intent/favorite?tweet_id={{tweet.id_str}}"><span class="glyphicon glyphicon-star"></span> favorite</a>
	  
	  </div>

	</div>
</div>